@import "tailwindcss";

@theme {
  --color-background: #e6f4e6;
  --color-brand: #008000;
  --color-brand-dark: #006600;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
